<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	
	<h:form>
		<p:menubar>
			<p:submenu label="Arquivo">
				<p:menuitem value="Sair"></p:menuitem>
			</p:submenu>
			<p:submenu label="Cadastros">
				<p:menuitem value="Fabricante" outcome="/pages/fabricante.xhtml"></p:menuitem>
				<p:menuitem value="Produto" outcome="/pages/produto.xhtml"></p:menuitem>
			</p:submenu>
			<p:submenu label="Ajuda">
				<p:menuitem value="Sobre"></p:menuitem>
			</p:submenu>
		</p:menubar>
	</h:form>
	
</ui:composition>